.button {
    padding: 18px 30px;
    background: $button-bg;
    box-shadow: 0px 0px 20px $button-bs;
    border-radius: 12px;
    border: none;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $button;
    line-height: 20px;
    cursor: pointer;
    &:hover {
        background: $button-bg-hover;
    }
    &:active {
        background: $button-bg-active;
    }
}