.companies {
    &-title {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $companies-title;
        text-align: center;
        margin-bottom: 30px;
    }
    &__box {
        background-color: $companies__box-bgc;
        margin: 0 -30px;
        &-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 120px;
            &:nth-child(1) {
                background-color: $companies__box-bg-1;
            }
            &:nth-child(2) {
                background-color: $companies__box-bg-2;
            }
            &:nth-child(3) {
                background-color: $companies__box-bg-3;
            }
            &:nth-child(4) {
                background-color: $companies__box-bg-4;
            }
            &:nth-child(5) {
                background-color: $companies__box-bg-5;
            }
            &:nth-child(6) {
                background-color: $companies__box-bg-6;
            }
            &:nth-child(7) {
                background-color: $companies__box-bg-7;
            }
            &:nth-child(8) {
                background-color: $companies__box-bg-8;
            }
            &:nth-child(9) {
                background-color: $companies__box-bg-9;
            }
            &:nth-child(10) {
                background-color: $companies__box-bg-10;
            }
            &:nth-child(11) {
                background-color: $companies__box-bg-11;
            }
            &:nth-child(12) {
                background-color: $companies__box-bg-12;
            }
            &:nth-child(n+7){
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .companies {
        &__box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            &-bg{
                &:nth-child(n+7){
                    display: flex;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .companies {
        &__box {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}