.companies {
    &-title {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $companies-title;
        text-align: center;
        margin-bottom: 30px;
    }
    &__box {
        background-color: $companies__box-bgc;
        margin: 0 -30px;
        &-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 120px;
        }
        &-bg:nth-child(1) {
            background-color: $companies__box-bg-1;
        }
        &-bg:nth-child(2) {
            background-color: $companies__box-bg-2;
        }
        &-bg:nth-child(3) {
            background-color: $companies__box-bg-3;
        }
        &-bg:nth-child(4) {
            background-color: $companies__box-bg-4;
        }
        &-bg:nth-child(5) {
            background-color: $companies__box-bg-5;
        }
        &-bg:nth-child(6) {
            background-color: $companies__box-bg-6;
        }
        &-bg:nth-child(7) {
            background-color: $companies__box-bg-7;
        }
        &-bg:nth-child(8) {
            background-color: $companies__box-bg-8;
        }
        &-bg:nth-child(9) {
            background-color: $companies__box-bg-9;
        }
        &-bg:nth-child(10) {
            background-color: $companies__box-bg-10;
        }
        &-bg:nth-child(11) {
            background-color: $companies__box-bg-11;
        }
        &-bg:nth-child(12) {
            background-color: $companies__box-bg-12;
        }
        &-bg:nth-child(n+7){
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .companies {
        &__box {
            margin: 0 -60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            &-bg:nth-child(n+7){
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .companies {
        &__box {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}