.footer {
    background-color: $footer-bg;
    &__wrap {
        text-align: center;
        padding: 30px 0;
    }
    &__address {
        margin-bottom: 20px;
        &-text {
            font-weight: 400;
            line-height: 20px;
            color: $footer__address-text;
            margin-bottom: 10px;
        }
    }
    &__contact {
        margin-bottom: 30px;
        &-facebook {
            margin-bottom: 10px;
        }
        &-tel {
            margin-bottom: 10px;
            &-link {
                color: $footer__contact-tel-link;
                line-height: 20px;
            }
        }
        &-email {
            &-link {
                &:hover {
                    color: $hover;
                }
            }
        }
    }
    &__law {
        font-weight: 400;
        line-height: 20px;
        color: $footer__law;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrap {
            text-align: start;
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 20px;
        }
        &__address,
        &__contact,
        &__law {
            display: flex;
            align-items: center;
        }
        &__address {
            margin-bottom: 0;
            &-text {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                line-height: inherit;
                &::after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: $footer__address-text-after;
                    border-radius: 50%;
                    margin: 0 10px;
                }
            }
            &-link {
                margin-bottom: 1px;
                &-item {
                    &:hover {
                        color: $hover;
                    }
                }
            }
        }
        &__contact {
            grid-column-start: -3;
            margin-bottom: 0;
            grid-column-end: -1;
            &-facebook {
                margin-bottom: 0;
                &-link {
                    &-img {
                        &:hover {
                            filter: brightness(0) saturate(100%) invert(19%) sepia(99%) saturate(4537%) hue-rotate(332deg) brightness(96%) contrast(97%);
                        }
                    }
                }
            }
            &-tel {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                &::after,
                &::before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background: $footer__tel-after-before;
                    border-radius: 50%;
                    margin: 0 10px;
                }
                &-link {
                    line-height: inherit;
                }
            }
            &-email {
                margin-bottom: 1px;
                &-link {
                    &:hover {
                        color: $hover;
                    }
                }
            }
        }
        &__law {
            grid-column-start: -2;
            grid-column-end: -1;
            grid-row-start: 1;
            grid-row-end: 2;
            line-height: inherit;
            justify-content: flex-end;
        }
    }
}