.header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 50px;
    &__bg-img {
        background-image: url(../img/home-page/big-banner.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 30px;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-bottom: 129px;
        &-menu-logo {
            grid-column-start: -3;
            grid-column-end: -2;
            margin: 15px 0;
            &-img {
                height: 32px;
            }
        }
        &-icon-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__subtitle {
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 159px;
    }
    &__arrow-down {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        &-border {
            width: 42px;
            height: 42px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover,
            &:active {
                filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
            }
        }
    }
    &__shadow {
        position: relative;
        &::after {
            content: '';
            background-color: #CACADB;
            height: 10px;
            border-radius: 0px 0px 12px 12px;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -10px;
        }
        &::before {
            content: '';
            background-color: #E7E7F2;
            height: 10px;
            border-radius: 0px 0px 12px 12px;
            position: absolute;
            left: 40px;
            right: 40px;
            bottom: -20px;
        }
    }
}
