.header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 50px;
    &__bg-img {
        background-image: url(../img/home-page/big-banner.svg);
        background-repeat: no-repeat;
        background-position: top center;
        margin-bottom: 30px;
        background-size: cover;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        margin-bottom: 139px;
        &-menu-logo {
            grid-column-start: -3;
            grid-column-end: -2;
            margin: 15px 0 10px -15px;
            display: flex;
            &-img {
                height: 32px;
            }
            &-wrap {
                display: flex;
                &::after {
                    content: '';
                    background-image: url(../img/menu-img/menu-logo-slash-mini.svg);
                    width: 12px;
                    height: 26px;
                    margin: 0 4px;
                }
            }
            &-page {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: $header__wrap-menu-logo-page;
            }
        }
        &-icon-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__subtitle {
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: $text;
        margin-bottom: 159px;
    }
    &__arrow-down {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        &-border {
            width: 42px;
            height: 42px;
            border: 2px solid $header__arrow-down-border;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover,
            &:active {
                filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
            }
        }
    }
    &__shadow {
        position: relative;
        &::after {
            content: '';
            background-color: $header__shadow-after-bg;
            height: 10px;
            border-radius: 0px 0px 12px 12px;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -10px;
        }
        &::before {
            content: '';
            background-color: $header__shadow-before-bg;
            height: 10px;
            border-radius: 0px 0px 12px 12px;
            position: absolute;
            left: 40px;
            right: 40px;
            bottom: -20px;
        }
    }
    &--white {
        background: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        margin-bottom: 80px;
        &__bg-img {
            margin-bottom: 60px;
        }
        &__wrap {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            margin-bottom: 269px;
            padding-top: 50px;
            &-menu-logo {
                margin: 0 0 30px;
                &-img {
                    height: 60px;
                }
                &-wrap {
                    &::after {
                        background-image: url(../../img/menu-img/menu-logo-slash.svg);
                        width: 21px;
                        height: 47px;
                    }
                }
                &-page {
                    font-size: 36px;
                    line-height: 44px;
                }
            }
            &-icon-menu {
                display: none;
            }
        }
        &__subtitle {
            margin-bottom: 417px;
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        &__bg-img {
            background-size: auto;
        }
        &__wrap {
            margin-bottom: 245px;
            &-menu {
                &-logo {
                    grid-row-start: 1;
                    grid-row-end: 4;
                    margin: 0;
                }
            }
        }
        &__subtitle {
            margin-bottom: 290px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        &__wrap {
            margin-bottom: 261px;
        }
        &__subtitle {
            margin-bottom: 305px;
        }
    }
}