.icon__menu {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    &:active {
        background-color: $icon__menu-active-bg;
        border-radius: 8px;
    }
    &::after,
    &::before {
        content: "";
        background-color: $icon__menu-after-before-bg;
        height: 2px;
        width: 18px;
    }
    &-span {
        background-color: $icon__menu-span-bg;
        height: 2px;
        width: 18px;
        margin: 5px 0;
        &--white {
            background-color: $icon__menu-span---white-bg;
        }
    }
    &--white {
        &::after,
        &::before {
            background-color: $icon__menu-after-before--white-bg;
        }
    }
}

.close-icon__menu {
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    align-self: flex-end;
    margin: 12px 0 20px;
    &::after,
    &::before {
        content: "";
        background-color: $close-icon__menu-after-before-bg;
        height: 2px;
        width: 75%;
        position: absolute;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover,
    &:active {
        background: $close-icon__menu-hover-active-bg;
        border-radius: 8px;
    }
}

@media screen and (min-width: 768px) {
    .close-icon__menu {
        display: none;
    }
}