.icon__menu {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    &:active {
        background-color: #E6E6F0;
        border-radius: 8px;
    }
    &::after,
    &::before {
        content: "";
        background-color: #FFFFFF;
        height: 2px;
        width: 18px;
    }
    &-span {
        background-color: #FFFFFF;
        height: 2px;
        width: 18px;
        margin: 5px 0;
    }
}

.close-icon__menu {
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    align-self: flex-end;
    margin: 12px 0 20px;
    &::after,
    &::before {
        content: "";
        background-color: #EC6F5D;
        height: 2px;
        width: 75%;
        position: absolute;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover,
    &:active {
        background: #E6E6F0;
        border-radius: 8px;
    }
}

@media screen and (min-width: 768px) {
    .icon__menu {
        display: none;
        &:active {

        }
        &::after,
        &::before {

        }
        &-span {

        }
    }
    
    .close-icon__menu {
        display: none;
        &::after,
        &::before {

        }
        &::before {

        }
        &::after {

        }
        &:hover,
        &:active {

        }
    }
}