.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $nav-bg;
    margin: 0 -30px;
    padding: 10px 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    &__lang {
        &-list {
            display: flex;
            &-item {
                padding: 5px 0;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            &-link {
                border-radius: 8px;
                padding: 5px 7px;
                &--active {
                    background-color: $hover;
                    color: $nav__lang-list-link--active-bg;
                    }
                &--dark {
                    color: $nav__lang-list-link--dark;
                }
                &--dark:hover {
                    background-color: $nav__lang-list-link--dark-hover-bg;
                }
                &--white {
                    color: $nav__lang-list-link--white;
                }
                &--white:hover {
                    background-color: $nav__lang-list-link--white-hover-bg;
                }
            }
        }
    }
    &__address {
        display: none;
    }
    &__tel {
        line-height: 20px;
        color: $nav__tel;
    }
    &__facebook {
        height: 24px;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        margin: 0;
        background: none;
        padding: 0 0 30px;
        justify-content: flex-start;
        &__address {
            display: flex;
            font-weight: 400;
            line-height: 20px;
            color: $nav__address;
            align-items: center;
            &::after,
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background: $nav__address__tel-after-before-bg;
                border-radius: 50%;
                margin: 0 6px;
            }
        }
        &__tel {
            display: flex;
            align-items: center;
            &::after {
                content: '';
                width: 6px;
                height: 6px;
                background: $nav__address__tel-after-before-bg;
                border-radius: 50%;
                margin: 0 6px;
            }
        }
        &__facebook {
            display: block;
            filter: brightness(0) saturate(100%) invert(98%) sepia(11%) saturate(147%) hue-rotate(166deg) brightness(117%) contrast(100%);
        }
        &__facebook:hover {
            filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
        }
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        grid-column-start: 2;
        justify-content: flex-end;
        padding-bottom: 16px;
    }
}