.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(245, 245, 250, 0.2);
    margin: 0 -30px;
    padding: 10px 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    &__lang {
        &-list {
            display: flex;
            &-item {
                padding: 5px 0;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            &-link {
                border-radius: 8px;
                padding: 5px 7px;
                &--active {
                    background-color: #F0145A;
                    color: #FFFFFF;
                    }
                &--dark {
                    color: #FFFFFF;
                }
                &--dark:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
                &--white {
                    color: #B3B3BA;
                }
                &--white:hover {
                    background-color: #F5F5FA;
                }
            }
        }
    }
    &__address {
        display: none;
    }
    &__tel {
        line-height: 20px;
        color: #FFFFFF;
    }
    &__facebook {
        height: 24px;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        margin: 0;
        background: none;
        padding: 0 0 30px;
        justify-content: flex-start;
        &__address {
            display: flex;
            font-weight: 400;
            line-height: 20px;
            color: #B3B3BA;
            align-items: center;
        }
        &__address::after,
        &__address::before,
        &__tel::after {
            content: '';
            width: 6px;
            height: 6px;
            background: #E6E6F0;
            border-radius: 50%;
            margin: 0 6px;
        }
        &__tel {
            display: flex;
            align-items: center;
        }
        &__facebook {
            display: block;
            filter: brightness(0) saturate(100%) invert(98%) sepia(11%) saturate(147%) hue-rotate(166deg) brightness(117%) contrast(100%);
        }
        &__facebook:hover {
            filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
        }
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        grid-column-start: 2;
        justify-content: flex-end;
        padding-bottom: 16px;
    }
}