.publications {
    background-color: $publications-bg;
    &__link {
        margin-bottom: 5px;
        padding-top: 30px;
    }
    &__title {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 30px;
    }
    &__box {
        border-bottom: 2px solid $publications__box-border;
        &-cart {
            border-radius: 8px;
            background: $publications__box-cart-bg;
            margin-bottom: 30px;
            &-img {
                background-color: $publications__box-cart-img-bg;
                height: 200px;
                width: 100%;
                border-radius: 8px 8px 0px 0px;
                object-fit: cover;
            }
            &-desc {
                padding: 30px;
                &-title {
                    margin-bottom: 15px;
                    &-link {
                        line-height: 20px;
                        color: $link;
                    }
                }
                &-date {
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #B3B3BA;
                    border-bottom: 4px solid $publications__box-cart-desc-date-border;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                }
                &-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #000000;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .publications {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 30px;
            &-cart:last-child {
                grid-column-start: -3;
                grid-column-end: -1;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .publications {
        &__box {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, auto);
            &-cart:last-child {
                grid-column-start: -2;
                grid-column-end: -1;
            }
        }
    }
}