.quality {
    &__box {
        margin-bottom: 60px;
        &-text {
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 30px;
        }
        &-title {
            font-size: 30px;
            line-height: 37px;
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media screen and (min-width: 768px) {
    .quality {
        &__box {
            &-title {
                font-size: 38px;
                line-height: 46px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .quality {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 1fr;
            grid-column-gap: 60px;
            &-text {
                margin-bottom: 0;
            }
            &-title {
                width: 362px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .quality {
        &__box {
            padding: 0 120px;
        }
    }
}