.slick-dots {
    bottom: -47px;
}

.slick-dots li button:before {
    font-size: 16px;
    color: $link;
    opacity: 0.2;
}

.slick-dots li.slick-active button:before {
    color: $link;
    opacity: 1;
}

.slick-dots li button:hover {
    color: $link;
    opacity: 0.6;
}

.slick-dotted.slick-slider {
    margin-bottom: 105px;
}

@media screen and (min-width: 1024px) {
    .slick-initialized .slick-slide {
        display: flex;
    }
}