.slider__about {
    background-color: #F5F5FA;
    &-wrap {
        padding: 30px 0 43px 0;
        border-bottom: 2px solid #E6E6F0;
        &-title {
            text-align: center;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        &-box {
            margin-bottom: 30px;
            &-content {
                &-pic {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFFFFF;
                    height: 90px;
                    border-radius: 12px;
                    &-img {
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .slider__about {
        &-wrap {
            &-box {
                margin: 0 -20px;
                &-content {
                    padding: 0 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .slider__about {
        &-wrap {
            &-box {
                &-content {
                    &-pic {
                        height: 110px;
                        width: 100%;
                        &-img {
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}
