.slider {
    &-wrap {
        margin-bottom: 105px;
    }
    &__box {
        background-color: $slider__box-bg;
        border-radius: 12px;
        &-pic {
            max-height: 500px;
            background-color: $slider__box-pic-bg;
            margin-bottom: 30px;
            width: 100%;
            &-img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: 12px 12px 0px 0px;
            }
        }
        &-desc {
            padding: 0 30px;
            &-link {
                margin-bottom: 5px;
            }
            &-text {
                font-size: 30px;
                line-height: 37px;
                background: $gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 30px;
            }
            &-name {
                &-who {
                    line-height: 20px;
                    color: $slider__box-desc-name-who;
                    margin-bottom: 6px;
                }
                &-position {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: $slider__box-desc-name-position;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .slider {
        &__box {
            &-desc {
                &-text {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .slider {
        &__box {
            &-desc {
                padding: 30px;
                &-name {
                    &-position {
                        margin-bottom: 0;
                    }
                }
            }
            &-pic {
                margin-bottom: 0;
                max-height: 528px;
                &-img {
                    height: 528px;
                    border-radius: 12px 0 0 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .slider {
        &__box {
            &-pic {
                &-img {
                    height: 344px;
                }
            }
        }
    }
}