.slick-dots {
    bottom: -47px;
}

.slick-dots li button:before {
    font-size: 16px;
    color: #24A3FF;
    opacity: 0.2;
}

.slick-dots li.slick-active button:before {
    color: #24A3FF;
    opacity: 1;
}

.slick-dots li button:hover {
    color: #24A3FF;
    opacity: 0.6;
}

.slick-dotted.slick-slider {
    margin-bottom: 105px;
}