.slider {
    &__box {
        background-color: #F5F5FA;
        border-radius: 12px;
        &-pic {
            max-height: 500px;
            background-color: #EDEDF7;
            margin-bottom: 30px;
            &-img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: 12px 12px 0px 0px;
            }
        }
        &-desc {
            padding: 0 30px;
            &-link {
                margin-bottom: 5px;
            }
            &-text {
                font-size: 30px;
                line-height: 37px;
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 30px;
            }
            &-name {
                &-who {
                    line-height: 20px;
                    color: #B3B3BA;
                    margin-bottom: 6px;
                }
                &-position {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #B3B3BA;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .slider {
        &__box {
            &-desc {
                &-text {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .slider {
        &__box {
            &-desc {
                width: 61%;
                padding: 30px;
                &-text {

                }
                &-name {
                    &-position {
                        margin-bottom: 0;
                    }
                }
            }
            &-pic {
                margin-bottom: 0;
                max-height: 528px;
                &-img {
                    height: 528px;
                    border-radius: 12px 0 0 12px;
                }
            }
        }
    }
}