.turn {
    &__box {
        &-desc {
            margin-bottom: 30px;
            &-title {
                font-size: 30px;
                line-height: 37px;
                background: $gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 28px;
            }
            &-text {
                font-weight: 400;
                font-size: 19px;
                line-height: 30px;
                color: $turn__box-desc-text;
            }
        }
        &-wrap {
            margin-bottom: 30px;
            &-statistics {
                padding-left: 30px;
                border-left: 4px solid $turn__box-wrap-statistics-border;
                &:not(:last-child) {
                    padding-bottom: 40px;
                }
                &-numbers {
                    display: flex;
                    margin-bottom: 10px;
                    &-text {
                        font-size: 36px;
                        line-height: 44px;
                        background: $gradient;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &-img {
                        margin-right: 12px;
                    }
                }
                &-text {
                    font-weight: 400;
                    line-height: 20px;
                    color: $turn__box-wrap-statistics-text;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .turn {
        &__box {
            &-desc {
                &-title {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
            &-wrap {
                margin-bottom: 60px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .turn {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 1fr;
            grid-column-gap: 30px;
            margin-bottom: 60px;
            &-desc {
                margin-bottom: 0;
            }
            &-wrap {
                width: 388px;
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .turn {
        &__box {
            padding: 0 120px;
        }
    }
}