@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  min-width: 375px;
}

.stop-scroll {
  overflow: hidden;
  height: 100%;
}

.container {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

.header {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 50px;
}

.header__bg-img {
  background-image: url(../img/home-page/big-banner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
  background-size: cover;
}

.header__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 139px;
}

.header__wrap-menu-logo {
  grid-column-start: -3;
  grid-column-end: -2;
  margin: 15px 0;
  margin-left: -15px;
}

.header__wrap-menu-logo-img {
  height: 32px;
}

.header__wrap-icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__subtitle {
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 159px;
}

.header__arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.header__arrow-down-border {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__arrow-down-border:hover, .header__arrow-down-border:active {
  -webkit-filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
          filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
}

.header__shadow {
  position: relative;
}

.header__shadow::after {
  content: '';
  background-color: #CACADB;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}

.header__shadow::before {
  content: '';
  background-color: #E7E7F2;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 80px;
  }
  .header__bg-img {
    margin-bottom: 60px;
  }
  .header__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 270px;
    padding-top: 50px;
  }
  .header__wrap-menu-logo {
    margin: 0 0 30px;
  }
  .header__wrap-menu-logo-img {
    height: 60px;
  }
  .header__wrap-icon-menu {
    display: none;
  }
  .header__subtitle {
    margin-bottom: 417px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(245, 245, 250, 0.2);
  margin: 0 -30px;
  padding: 10px 15px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__lang-list-item {
  padding: 5px 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav__lang-list-link {
  border-radius: 8px;
  padding: 5px 7px;
}

.nav__lang-list-link--active {
  background-color: #F0145A;
  color: #FFFFFF;
}

.nav__lang-list-link--dark {
  color: #FFFFFF;
}

.nav__lang-list-link--dark:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav__lang-list-link--white {
  color: #B3B3BA;
}

.nav__lang-list-link--white:hover {
  background-color: #F5F5FA;
}

.nav__address {
  display: none;
}

.nav__tel {
  line-height: 20px;
  color: #FFFFFF;
}

.nav__facebook {
  height: 24px;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 0;
    background: none;
    padding: 0 0 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    line-height: 20px;
    color: #B3B3BA;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__address::after, .nav__address::before, .nav__tel::after {
    content: '';
    width: 6px;
    height: 6px;
    background: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .nav__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__facebook {
    display: block;
    -webkit-filter: brightness(0) saturate(100%) invert(98%) sepia(11%) saturate(147%) hue-rotate(166deg) brightness(117%) contrast(100%);
            filter: brightness(0) saturate(100%) invert(98%) sepia(11%) saturate(147%) hue-rotate(166deg) brightness(117%) contrast(100%);
  }
  .nav__facebook:hover {
    -webkit-filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
            filter: invert(31%) sepia(100%) saturate(6241%) hue-rotate(331deg) brightness(94%) contrast(99%);
  }
}

.footer {
  background-color: #F5F5FA;
}

.footer__wrap {
  text-align: center;
  padding: 30px 0;
}

.footer__address {
  margin-bottom: 20px;
}

.footer__address-text {
  font-weight: 400;
  line-height: 20px;
  color: #323264;
  margin-bottom: 10px;
}

.footer__contact {
  margin-bottom: 30px;
}

.footer__contact-facebook {
  margin-bottom: 10px;
}

.footer__contact-tel {
  margin-bottom: 10px;
}

.footer__contact-tel-link {
  color: #46466E;
  line-height: 20px;
}

.footer__law {
  font-weight: 400;
  line-height: 20px;
  color: #B3B3BA;
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 20px;
  }
  .footer__contact {
    grid-column-start: -3;
    margin-bottom: 0;
    grid-column-end: -1;
  }
  .footer__law {
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer__address, .footer__contact, .footer__law {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__address {
    margin-bottom: 0;
  }
  .footer__address-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    line-height: inherit;
  }
  .footer__address-text::after {
    content: '';
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 50%;
    margin: 0 10px;
  }
  .footer__address-link {
    margin-bottom: 1px;
  }
  .footer__contact-facebook {
    margin-bottom: 0;
  }
  .footer__contact-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .footer__contact-tel-link {
    line-height: inherit;
  }
  .footer__contact-tel::after, .footer__contact-tel::before {
    content: '';
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 50%;
    margin: 0 10px;
  }
  .footer__contact-email {
    margin-bottom: 1px;
  }
  .footer__law {
    line-height: inherit;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #707093;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu.show {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.header__menu-list {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  margin: 0 8px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu-list.show {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header__menu-list-item {
  background-color: #F5F5FA;
  width: 100%;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 15px;
  padding: 7px 0;
}

.header__menu-list-item:last-child {
  margin-bottom: 12px;
}

.header__menu-list-item:active {
  background-color: #E6E6F0;
}

.header__menu-list-link {
  font-size: 24px;
  line-height: 29px;
  color: #24A3FF;
}

@media screen and (min-width: 768px) {
  .header__menu {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    grid-column-start: -3;
    grid-column-end: -1;
  }
  .header__menu-list {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    background: none;
    margin: 0;
    padding: 0;
  }
  .header__menu-list-item {
    background: none;
    padding: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: 15px;
  }
  .header__menu-list-item:last-child {
    margin-bottom: 0;
  }
  .header__menu-list-link {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

.icon__menu {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -15px;
}

.icon__menu:active {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.icon__menu::after, .icon__menu::before {
  content: "";
  background-color: #FFFFFF;
  height: 2px;
  width: 18px;
}

.icon__menu-span {
  background-color: #FFFFFF;
  height: 2px;
  width: 18px;
  margin: 5px 0;
}

.close-icon__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 12px 0 20px;
}

.close-icon__menu::after, .close-icon__menu::before {
  content: "";
  background-color: #EC6F5D;
  height: 2px;
  width: 75%;
  position: absolute;
}

.close-icon__menu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-icon__menu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-icon__menu:hover, .close-icon__menu:active {
  background: #E6E6F0;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .close-icon__menu {
    display: none;
  }
}

.solution__box {
  margin-bottom: 30px;
  position: relative;
}

.solution__box-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  margin: 0 -30px 5px 0;
}

.solution__box-subject::-webkit-scrollbar {
  width: 0;
}

.solution__box-subject-link {
  white-space: nowrap;
  font-size: 38px;
  line-height: 37px;
  color: #B3B3BA;
  border: 0;
  cursor: pointer;
}

.solution__box-subject-link:not(:last-child) {
  margin-right: 30px;
}

.solution__box-subject-link--active {
  background: -webkit-linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solution__box-subject-blur {
  background-image: url(../img/home-page/right-blur.png);
  position: absolute;
  top: -4px;
  right: -30px;
  width: 50px;
  height: 50px;
}

.solution__box-border {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.solution__box-info {
  display: none;
}

.solution__box-info-title {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.solution__box-info-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.consistent-text.visible,
.customer-text.visible,
.innovative-text.visible,
.business-text.visible {
  display: block;
}

@media screen and (min-width: 768px) {
  .solution__box {
    margin-bottom: 60px;
  }
  .solution__box-subject {
    margin: 0 -60px 35px 0;
  }
  .solution__box-subject-blur {
    right: -60px;
  }
  .solution__box-subject-link {
    font-size: 38px;
  }
  .solution__box-border {
    margin-bottom: 60px;
  }
  .solution__box-info {
    display: none;
  }
  .solution__box-info-title {
    font-size: 30px;
    line-height: 37px;
  }
}

.service-link {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-link::after {
  content: "";
  height: 13px;
  width: 12px;
  background-image: url(../img/services-page/right-arrow.svg);
  margin-left: 3px;
}

.service-link-item {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.service-title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 37px;
}

.service__box {
  padding-bottom: 30px;
}

.service__box:last-child {
  padding-bottom: 60px;
}

.service__box-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 24px;
  width: 92px;
  height: 92px;
}

.service__box-pic-img {
  width: 64px;
  height: 64px;
}

.service__box-pic-img--it {
  background-image: url(../img/services-page/it-img.svg);
}

.service__box-pic-img--comprehensive {
  background-image: url(../img/services-page/comprehensive-img.svg);
}

.service__box-pic-img--structuring {
  background-image: url(../img/services-page/structuring-img.svg);
}

.service__box-pic-img--building {
  background-image: url(../img/services-page/building-img.svg);
}

.service__box-pic-img--protection {
  background-image: url(../img/services-page/protection-mg.svg);
}

.service__box-pic-img--judicial {
  background-image: url(../img/services-page/judicial-mg.svg);
}

.service__box-desc-title {
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  margin-bottom: 15px;
}

.service__box-desc-text {
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .service-title {
    line-height: 46px;
    margin-bottom: 60px;
    font-size: 38px;
  }
  .service__box {
    padding-bottom: 0;
  }
  .service__box:last-child {
    padding-bottom: 0;
  }
  .service-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    padding-bottom: 60px;
  }
}

.slider__box {
  background-color: #F5F5FA;
  border-radius: 12px;
}

.slider__box-pic {
  max-height: 500px;
  background-color: #EDEDF7;
  margin-bottom: 30px;
}

.slider__box-pic-img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.slider__box-desc {
  padding: 0 30px;
}

.slider__box-desc-link {
  margin-bottom: 5px;
}

.slider__box-desc-text {
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.slider__box-desc-name-who {
  line-height: 20px;
  color: #B3B3BA;
  margin-bottom: 6px;
}

.slider__box-desc-name-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .slider__box-desc-text {
    font-size: 38px;
    line-height: 46px;
  }
}

.slick-dots {
  bottom: -47px;
}

.slick-dots li button:before {
  font-size: 16px;
  color: #24A3FF;
  opacity: 0.2;
}

.slick-dots li.slick-active button:before {
  color: #24A3FF;
  opacity: 1;
}

.slick-dots li button:hover {
  color: #24A3FF;
  opacity: 0.6;
}

.slick-dotted.slick-slider {
  margin-bottom: 105px;
}

.companies-title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}

.companies__box {
  background-color: #F48B30;
  margin: 0 -30px;
}

.companies__box-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
}

.companies__box-bg:nth-child(1) {
  background-color: #1C4280;
}

.companies__box-bg:nth-child(2) {
  background-color: #143646;
}

.companies__box-bg:nth-child(3) {
  background-color: #F48B30;
}

.companies__box-bg:nth-child(4) {
  background-color: #9E4DC3;
}

.companies__box-bg:nth-child(5) {
  background-color: #FD9339;
}

.companies__box-bg:nth-child(6) {
  background-color: #E2E2E4;
}

.companies__box-bg:nth-child(7) {
  background-color: #C71C36;
}

.companies__box-bg:nth-child(8) {
  background-color: #DCF3F9;
}

.companies__box-bg:nth-child(9) {
  background-color: #EAEAEA;
}

.companies__box-bg:nth-child(10) {
  background-color: #282240;
}

.companies__box-bg:nth-child(11) {
  background-color: #1D4568;
}

.companies__box-bg:nth-child(12) {
  background-color: #000000;
}

.companies__box-bg:nth-child(n+7) {
  display: none;
}

@media screen and (min-width: 768px) {
  .companies__box {
    margin: 0 -60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .companies__box-bg:nth-child(n+7) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.publications {
  background-color: #F5F5FA;
}

.publications__link {
  margin-bottom: 5px;
  padding-top: 30px;
}

.publications__title {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}

.publications__box {
  border-bottom: 2px solid #E6E6F0;
}

.publications__box-cart {
  border-radius: 8px;
  background: #FFFFFF;
  margin-bottom: 30px;
}

.publications__box-cart-img {
  background-color: #4400ff;
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.publications__box-cart-desc {
  padding: 30px;
}

.publications__box-cart-desc-title {
  margin-bottom: 15px;
}

.publications__box-cart-desc-title-link {
  line-height: 20px;
  color: #24A3FF;
}

.publications__box-cart-desc-date {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  border-bottom: 4px solid #E6E6F0;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.publications__box-cart-desc-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .publications__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 30px;
  }
  .publications__box-cart:last-child {
    grid-column-start: -3;
    grid-column-end: -1;
  }
}

/*# sourceMappingURL=style.css.map */
