@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}