* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    min-width: 345px;
}

.stop-scroll {
    overflow: hidden;
    height: 100%;
}

.container {
    max-width: 1440px;
    min-width: 345px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}


.img-responsive {
    max-width: 100%;
    height: auto;
}

.vissualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
