* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'Montserrat';
    font-weight: 500;
}

.container {
    max-width: 1200px;
}

a {
    text-decoration: none;
    a:hover {

    }
}


.img-responsive {
    max-width: 100%;
    height: auto;
}

.vissualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
