$link: #24A3FF;
$gradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$text: #ffffff;
$hover: #F0145A;

$header__arrow-down-border: rgba(255, 255, 255, 0.5);
$header__shadow-after-bg: #CACADB;
$header__shadow-before-bg: #E7E7F2;

$header__menu-bg: #707093;
$header__menu-list-bg: #FFFFFF;
$header__menu-list-item-bg: #F5F5FA;
$header__menu-list-item-active-bg: #E6E6F0;

$icon__menu-active-bg: #E6E6F0;
$icon__menu-after-before-bg: #FFFFFF;
$icon__menu-span-bg: #FFFFFF;
$close-icon__menu-after-before-bg: #EC6F5D;
$close-icon__menu-hover-active-bg: #E6E6F0;

$nav-bg: rgba(245, 245, 250, 0.2);
$nav__lang-list-link--active-bg: #FFFFFF;
$nav__lang-list-link--dark: #FFFFFF;
$nav__lang-list-link--dark-hover-bg: rgba(255, 255, 255, 0.2);
$nav__lang-list-link--white: #B3B3BA;
$nav__lang-list-link--white-hover-bg: #F5F5FA;
$nav__tel: #FFFFFF;
$nav__address: #B3B3BA;
$nav__address__tel-after-before-bg: #E6E6F0;

$solution__box-subject-link: #B3B3BA;
$solution__box-border-bg: rgba(255, 255, 255, 0.3);
$solution__box-subject-border: rgba(255, 255, 255, 0.3);

$service__box-pic-bg: #FFFFFF;
$service__box-desc-title: #24A3FF;

$publications-bg: #F5F5FA;
$publications__box-border: #E6E6F0;
$publications__box-cart-bg: #FFFFFF;
$publications__box-cart-img-bg: rgb(68, 0, 255);
$publications__box-cart-desc-date-border: #E6E6F0;

$companies-title: #323264;
$companies__box-bgc: #F48B30;
$companies__box-bg-1: #1C4280;
$companies__box-bg-2: #143646;
$companies__box-bg-3: #F48B30;
$companies__box-bg-4: #9E4DC3;
$companies__box-bg-5: #FD9339;
$companies__box-bg-6: #E2E2E4;
$companies__box-bg-7: #C71C36;
$companies__box-bg-8: #DCF3F9;
$companies__box-bg-9: #EAEAEA;
$companies__box-bg-10: #282240;
$companies__box-bg-11: #1D4568;
$companies__box-bg-12: #000000;

$slider__box-bg: #F5F5FA;
$slider__box-pic-bg: #EDEDF7;
$slider__box-desc-name-who: #B3B3BA;
$slider__box-desc-name-position: #B3B3BA;

$footer-bg: #F5F5FA;
$footer__address-text: #323264;
$footer__contact-tel-link: #46466E;
$footer__law: #B3B3BA;
$footer__address-text-after: #B3B3BA;
$footer__tel-after-before: #B3B3BA;